
/* Carrito de compras cantidad */

.cantidad-productos{
    position: absolute;
    top: -30%;
    left: 40%;
    font-size: 2rem;
}


/* Items del carrito */

.modal-content{
    width: 600px;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items h4{
    width: 200px;
    text-align: center;
}
.items span{
    width: 40px;
}

input[type="number"]{
    text-align: center;
    width: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance:textfield;
    border:1px solid rgb(207, 207, 207);
    height: 30px;
}

button[data-name="decrementador"], button[data-name="incrementador"]{
    width: 30px;
    height: 30px;
    background-color: #198754;
    color:white;
    border:none;
}

.trash{
    font-size: 30px;
    display: flex;
    align-items: center;
}

.trash:hover{
    cursor: pointer;
}

/* Categoria en estado activo */

.categoria{
    font-weight: bold;
    color:blue;
}


/* Animaciones extras */

.transicionModal {
    animation: transicionModal 1s;
}

@keyframes transicionModal {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.transicionInversa {
    animation: transicionInversa 1s;
}

@keyframes transicionInversa {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.transicionInversaFondo {
    animation: transicionInversaFondo 1s;
}

@keyframes transicionInversaFondo {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.modal-backdrop{
    display:none;
}




/* Modal producto */

.articulo-modal{
    position: fixed !important;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2rem;
    margin: 1rem auto !important;
    width: 24rem;
}

.imagenes-pequeñas{
    display: inline;
    width: 20%;
    cursor:pointer;
}



